/* Importing font form assets/font folder */
@font-face {
  font-family: "majesty-display";
  src: url("./assets/font/majesty-display.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "majesty-display", sans-serif;
}

#home {
  background: url("./assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}
#home #leftMain {
  width: 500px;
  margin-top: 100px;
  margin-left: 50px;
  text-align: justify;
  h1 {
    text-transform: uppercase;
  }
  p {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 300;
  }
}

#home #leftMain span {
  width: 100%;
  font-size: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#home a {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #ffffff;
  padding: 20px;
  color: #000000;
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

/* destination page */
#destination {
  background: url("./assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100dvh;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

#leftDestination {
  width: 50%;
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 50px;
  }
}

#rightDestination {
  width: 50%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin-right: 50px;
  margin-top: 10rem;

  #desticontent {
    font-size: 1.5rem;
    margin: 20px 0;
    height: 190px;
    font-weight: 300;
  }

  hr {
    width: 100%;
    margin: 20px 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.361);
    border: none;
    position: relative;
  }
  h1 {
    text-transform: uppercase;
    font-size: 6rem;
  }

  #planetDetails {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    div {
      width: 50%;
    }

    h4 {
      font-size: 1.7rem;
      text-transform: uppercase;
      margin: 10px 0;
    }
    p {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}

/* Crew page setup  */

#crew {
  background: url("./assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
#crewright {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  img {
    height: 80%;
    width: -moz-fit-content;
    width: fit-content;
    object-fit: cover;
  }
}

#crewleft {
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    /* margin-bottom: 50px; */
  }
}

#circle-navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #444343;
  margin-top: 20px;
}

.circle:hover,
.circleactive {
  background: #ffffff;
}

#crewcontent {
  h4 {
    font-size: 2.7rem;
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: uppercase;
    color: #8d8d8d;
  }
  p {
    font-size: 1.5rem;
    width: 80%;
    margin-top: 20px;
    font-weight: 300;
  }
  h2 {
    font-size: 4.5rem;
    margin-bottom: 30px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

/* Technology Section */
#technology {
  height: 100vh;
  background: url("./assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 10%;
  padding-left: 10%;
}
.tech-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid orange; */
  height: 95%;
  gap: 5%;
  img {
    width: max-content;
    height: 100%;
  }
}

.content-main {
  /* border: 2px solid red; */
  width: 600px;
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
#content {
  h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
  }
  p {
    line-height: 1.7;
  }
}
.main-subheader {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.7rem;

  span {
    color: #444343;
    margin-right: 10px;
  }
}
.sub-upper {
  text-transform: uppercase;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #8d8d8d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
}
.circle:hover {
  background: #ffffff;
  color: #000000;
}

#home,
#destination,
#crew {
  /* display: none; */
}
